@use 'fonts';

$primary-color: #B6CE4D;
$secondary-color: #f0c6d4;
$accent-color: #ebb15b;
$body-text-color: #836c59;
$heading-font-family: 'keraregular', helvetica, arial;
$body-font-family: helvetica,arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;